node_modules/
client/node_modules/
backend/node_modules/
client/build/
backend/client/build/

.env
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production
backend/.env.test

.DS_Store
Thumbs.db