## Example: MongoDB Atlas connection string
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/corematrix?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017/corematrix
JWT_SECRET=7fK@92Lm!xQw#4PzR8uYvT1nBc$5Hd
PORT=4000
